        Kate Gallagher
        MSDS 696: Practicum II
        Spring 2024|8w2

# Data Extraction, Cleaning, and Loading

The purpose of this script is to extract, clean, and load pricing data from three different sources into three tables in a MySQL database for further use.

Section 1 covers data sourced from Binance. I first downloaded the CSVs containing data from the Binance historical data website.

Section 2 covers data sourced from Coinbase. I extracted the data within this script from the Coinbase website without needing to use an API key.

Section 3 covers the S&P 500 pricing data sourced from Yahoo. I extracted the data using the yf library.

## Section 1: Binance

In [7]:
#import packages
import pandas as pd
import os
import csv

In [2]:
#define column names
column_names = ["open_time", "open_price", "high_price", "low_price", 
                "close_price", "volume", "close_time", "drop_1", 
                "num_trades", "drop_2", "drop_3", "drop_4"]

#### BTCUSDT

In [3]:
#set directory path
directory = 'C:/Users/kgall/OneDrive/Documents/Regis/PracticumII/data/BTCUSDT'

In [4]:
#initiate list to store monthly dataframes
combined_btc_dataframes = []

In [5]:
#loop through each CSV file
for file_name in os.listdir(directory):
    file_path = os.path.join(directory, file_name)
    df = pd.read_csv(file_path, header=None, names=column_names)
    
    #drop columns
    df.drop(columns=['drop_1', 'drop_2', 'drop_3', 'drop_4'], inplace=True)
    
    #add currency
    df['currency'] = 'btcusdt'
    
    #append data to list
    combined_btc_dataframes.append(df)

In [6]:
#combine all dataframes into one
combined_btc_data = pd.concat(combined_btc_dataframes, ignore_index=True)

In [7]:
len(combined_btc_dataframes)

14

In [8]:
combined_btc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2550 entries, 0 to 2549
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open_time    2550 non-null   int64
 1   open_price   2550 non-null   float64
 2   high_price   2550 non-null   float64
 3   low_price    2550 non-null   float64
 4   close_price  2550 non-null   float64
 5   volume       2550 non-null   float64
 6   close_time   2550 non-null   int64
 7   num_trades   2550 non-null   int64
 8   currency     2550 non-null   object
dtypes: float64(5), int64(3), object(1)
memory usage: 179.4+ KB

In [9]:
combined_btc_data.head()

,open_time,open_price,high_price,low_price,close_price,volume,close_time,num_trades,currency
0,1672531200000,16541.77,16559.77,16508.39,16533.04,15515.82327,1672545599999,529532,btcusdt
1,1672545600000,16533.04,16550.00,16499.01,16526.19,16532.24115,1672559999999,502695,btcusdt
2,1672560000000,16525.70,16557.00,16505.20,16556.66,15915.96701,1672574399999,531758,btcusdt
3,1672574400000,16556.66,16572.94,16533.68,16558.73,15046.09096,1672588799999,520676,btcusdt
4,1672588800000,16558.73,16623.65,16558.00,16603.08,18532.64857,1672603199999,594496,btcusdt

#### ETHUSDT

In [10]:
#set directory path
directory = 'C:/Users/kgall/OneDrive/Documents/Regis/PracticumII/data/ETHUSDT'

In [11]:
#initiate list to store monthly dataframes
combined_eth_dataframes = []

In [12]:
#loop through each CSV file
for file_name in os.listdir(directory):
    file_path = os.path.join(directory, file_name)
    df = pd.read_csv(file_path, header=None, names=column_names)
    
    #drop columns
    df.drop(columns=['drop_1', 'drop_2', 'drop_3', 'drop_4'], inplace=True)
    
    #add currency
    df['currency'] = 'ethusdt'
    
    #append data to list
    combined_eth_dataframes.append(df)

In [13]:
#combine all dataframes into one
combined_eth_data = pd.concat(combined_eth_dataframes, ignore_index=True)

In [14]:
len(combined_eth_dataframes)

14

In [15]:
combined_eth_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2550 entries, 0 to 2549
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open_time    2550 non-null   int64
 1   open_price   2550 non-null   float64
 2   high_price   2550 non-null   float64
 3   low_price    2550 non-null   float64
 4   close_price  2550 non-null   float64
 5   volume       2550 non-null   float64
 6   close_time   2550 non-null   int64
 7   num_trades   2550 non-null   int64
 8   currency     2550 non-null   object
dtypes: float64(5), int64(3), object(1)
memory usage: 179.4+ KB

#### DOGEUSDT

In [16]:
#set directory path
directory = 'C:/Users/kgall/OneDrive/Documents/Regis/PracticumII/data/DOGEUSDT'

In [17]:
#initiate list to store monthly dataframes
combined_doge_dataframes = []

In [18]:
#loop through each CSV file
for file_name in os.listdir(directory):
    file_path = os.path.join(directory, file_name)
    df = pd.read_csv(file_path, header=None, names=column_names)
    
    #drop columns
    df.drop(columns=['drop_1', 'drop_2', 'drop_3', 'drop_4'], inplace=True)
    
    #add currency
    df['currency'] = 'dogeusdt'
    
    #append data to list
    combined_doge_dataframes.append(df)

In [19]:
#combine all dataframes into one
combined_doge_data = pd.concat(combined_doge_dataframes, ignore_index=True)

In [20]:
len(combined_doge_dataframes)

14

In [21]:
combined_doge_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2550 entries, 0 to 2549
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open_time    2550 non-null   int64
 1   open_price   2550 non-null   float64
 2   high_price   2550 non-null   float64
 3   low_price    2550 non-null   float64
 4   close_price  2550 non-null   float64
 5   volume       2550 non-null   float64
 6   close_time   2550 non-null   int64
 7   num_trades   2550 non-null   int64
 8   currency     2550 non-null   object
dtypes: float64(5), int64(3), object(1)
memory usage: 179.4+ KB

#### SHIBUSDT

In [22]:
#set directory path
directory = 'C:/Users/kgall/OneDrive/Documents/Regis/PracticumII/data/SHIBUSDT'

In [23]:
#initiate list to store monthly dataframes
combined_shib_dataframes = []

In [24]:
#loop through each CSV file
for file_name in os.listdir(directory):
    file_path = os.path.join(directory, file_name)
    df = pd.read_csv(file_path, header=None, names=column_names)
    
    #drop columns
    df.drop(columns=['drop_1', 'drop_2', 'drop_3', 'drop_4'], inplace=True)
    
    #add currency
    df['currency'] = 'shibusdt'
    
    #append data to list
    combined_shib_dataframes.append(df)

In [25]:
#combine all dataframes into one
combined_shib_data = pd.concat(combined_shib_dataframes, ignore_index=True)

In [26]:
len(combined_shib_dataframes)

14

In [27]:
combined_shib_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2550 entries, 0 to 2549
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open_time    2550 non-null   int64
 1   open_price   2550 non-null   float64
 2   high_price   2550 non-null   float64
 3   low_price    2550 non-null   float64
 4   close_price  2550 non-null   float64
 5   volume       2550 non-null   float64
 6   close_time   2550 non-null   int64
 7   num_trades   2550 non-null   int64
 8   currency     2550 non-null   object
dtypes: float64(5), int64(3), object(1)
memory usage: 179.4+ KB

#### ADAUSDT

In [28]:
#set directory path
directory = 'C:/Users/kgall/OneDrive/Documents/Regis/PracticumII/data/ADAUSDT'

In [29]:
#initiate list to store monthly dataframes
combined_ada_dataframes = []

In [30]:
#loop through each CSV file
for file_name in os.listdir(directory):
    file_path = os.path.join(directory, file_name)
    df = pd.read_csv(file_path, header=None, names=column_names)
    
    #drop columns
    df.drop(columns=['drop_1', 'drop_2', 'drop_3', 'drop_4'], inplace=True)
    
    #add currency
    df['currency'] = 'adausdt'
    
    #append data to list
    combined_ada_dataframes.append(df)

In [31]:
#combine all dataframes into one
combined_ada_data = pd.concat(combined_ada_dataframes, ignore_index=True)

In [32]:
len(combined_ada_dataframes)

14

In [33]:
combined_ada_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2550 entries, 0 to 2549
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open_time    2550 non-null   int64
 1   open_price   2550 non-null   float64
 2   high_price   2550 non-null   float64
 3   low_price    2550 non-null   float64
 4   close_price  2550 non-null   float64
 5   volume       2550 non-null   float64
 6   close_time   2550 non-null   int64
 7   num_trades   2550 non-null   int64
 8   currency     2550 non-null   object
dtypes: float64(5), int64(3), object(1)
memory usage: 179.4+ KB

#### SOLUSDT

In [34]:
#set directory path
directory = 'C:/Users/kgall/OneDrive/Documents/Regis/PracticumII/data/SOLUSDT'

In [35]:
#initiate list to store monthly dataframes
combined_sol_dataframes = []

In [36]:
#loop through each CSV file
for file_name in os.listdir(directory):
    file_path = os.path.join(directory, file_name)
    df = pd.read_csv(file_path, header=None, names=column_names)
    
    #drop columns
    df.drop(columns=['drop_1', 'drop_2', 'drop_3', 'drop_4'], inplace=True)
    
    #add currency
    df['currency'] = 'solusdt'
    
    #append data to list
    combined_sol_dataframes.append(df)

In [37]:
#combine all dataframes into one
combined_sol_data = pd.concat(combined_sol_dataframes, ignore_index=True)

In [38]:
len(combined_sol_dataframes)

14

In [39]:
combined_sol_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2550 entries, 0 to 2549
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open_time    2550 non-null   int64
 1   open_price   2550 non-null   float64
 2   high_price   2550 non-null   float64
 3   low_price    2550 non-null   float64
 4   close_price  2550 non-null   float64
 5   volume       2550 non-null   float64
 6   close_time   2550 non-null   int64
 7   num_trades   2550 non-null   int64
 8   currency     2550 non-null   object
dtypes: float64(5), int64(3), object(1)
memory usage: 179.4+ KB

#### XRPUSDT

In [40]:
#set directory path
directory = 'C:/Users/kgall/OneDrive/Documents/Regis/PracticumII/data/XRPUSDT'

In [41]:
#initiate list to store monthly dataframes
combined_xrp_dataframes = []

In [42]:
#loop through each CSV file
for file_name in os.listdir(directory):
    file_path = os.path.join(directory, file_name)
    df = pd.read_csv(file_path, header=None, names=column_names)
    
    #drop columns
    df.drop(columns=['drop_1', 'drop_2', 'drop_3', 'drop_4'], inplace=True)
    
    #add currency
    df['currency'] = 'xrpusdt'
    
    #append data to list
    combined_xrp_dataframes.append(df)

In [43]:
#combine all dataframes into one
combined_xrp_data = pd.concat(combined_xrp_dataframes, ignore_index=True)

In [44]:
len(combined_xrp_dataframes)

14

In [45]:
combined_xrp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2550 entries, 0 to 2549
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open_time    2550 non-null   int64
 1   open_price   2550 non-null   float64
 2   high_price   2550 non-null   float64
 3   low_price    2550 non-null   float64
 4   close_price  2550 non-null   float64
 5   volume       2550 non-null   float64
 6   close_time   2550 non-null   int64
 7   num_trades   2550 non-null   int64
 8   currency     2550 non-null   object
dtypes: float64(5), int64(3), object(1)
memory usage: 179.4+ KB

### Combine all Binance Data

In [48]:
#concatenate all dfs
combined_binance_data = pd.concat([combined_btc_data, combined_eth_data, combined_doge_data, combined_shib_data, combined_ada_data, combined_sol_data, combined_xrp_data], ignore_index=True)

In [50]:
#convert open_time and close_time columns to datetime
combined_binance_data['open_time'] = pd.to_datetime(combined_binance_data['open_time'], unit='ms')
combined_binance_data['close_time'] = pd.to_datetime(combined_binance_data['close_time'], unit='ms')

In [51]:
#drop num_trades column
combined_binance_data.drop(columns='num_trades', inplace=True)

In [52]:
combined_binance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17850 entries, 0 to 17849
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open_time    17850 non-null  datetime64[ns]
 1   open_price   17850 non-null  float64
 2   high_price   17850 non-null  float64
 3   low_price    17850 non-null  float64
 4   close_price  17850 non-null  float64
 5   volume       17850 non-null  float64
 6   close_time   17850 non-null  datetime64[ns]
 7   currency     17850 non-null  object
dtypes: datetime64[ns](2), float64(5), object(1)
memory usage: 1.1+ MB

In [53]:
combined_binance_data.head()

,open_time,open_price,high_price,low_price,close_price,volume,close_time,currency
0,2023-01-01 00:00:00,16541.77,16559.77,16508.39,16533.04,15515.82327,2023-01-01 03:59:59.999,btcusdt
1,2023-01-01 04:00:00,16533.04,16550.00,16499.01,16526.19,16532.24115,2023-01-01 07:59:59.999,btcusdt
2,2023-01-01 08:00:00,16525.70,16557.00,16505.20,16556.66,15915.96701,2023-01-01 11:59:59.999,btcusdt
3,2023-01-01 12:00:00,16556.66,16572.94,16533.68,16558.73,15046.09096,2023-01-01 15:59:59.999,btcusdt
4,2023-01-01 16:00:00,16558.73,16623.65,16558.00,16603.08,18532.64857,2023-01-01 19:59:59.999,btcusdt

### Load into MySQL

In [1]:
#import additional packages
from sqlalchemy import create_engine

In [ ]:
#define connection string
connection_string = 'mysql://root:root0987!?@localhost:3306/crypto_pricing'

In [ ]:
#create SQLAlchemy engine
engine = create_engine(connection_string)

In [ ]:
#name table
table_name = 'binance_pricing'

In [ ]:
#insert data into mysql
combined_binance_data.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

## Section 2: Coinbase

In [8]:
#import additional packages
from datetime import datetime, timedelta
import requests

In [9]:
#define URL endpoint
endpoint = 'https://api.pro.coinbase.com'

In [10]:
#define granularity by seconds
#the closest interval to the 4 hour Binance interval is 6 hours, or 21600 seconds
granularity = 21600

In [11]:
#define function to extract historical data
def get_historical_data(product_id, granularity, start_time, end_time):
    params = {
        'start': start_time.isoformat(),
        'end': end_time.isoformat(),
        'granularity': granularity
    }
    response = requests.get(f'{endpoint}/products/{product_id}/candles', params=params)
    if response.status_code == 200:
        data = response.json()
        df = pd.DataFrame(data, columns=['time', 'low', 'high', 'open', 'close', 'volume'])
        df['time'] = pd.to_datetime(df['time'], unit='s')
        return df
    else:
        print(f'Error: {response.status_code}')

#source: https://analyzingalpha.com/coinbase-api-python-tutorial

### BTC-USD

In [12]:
#define product ID
product_id = 'BTC-USD'

In [13]:
#define start and end times
start_time = datetime(2023, 1, 1)
end_time = start_time + timedelta(days=60)

In [14]:
#initiate list to store bimonthly dataframes
cb_btc_dataframes = []

In [15]:
#loop every 60 days
while end_time <= datetime(2024, 2, 28):  
    #request data for time period
    historical_data = get_historical_data(product_id, granularity, start_time, end_time)
    #append dataframe
    cb_btc_dataframes.append(historical_data)
    #update start_time and end_time for the next period
    start_time = end_time
    #move end_time 60 days ahead
    end_time += timedelta(days=60)  

#adapted from https://analyzingalpha.com/coinbase-api-python-tutorial

In [16]:
#combine all dataframes into one
combined_cb_btc_data = pd.concat(cb_btc_dataframes, ignore_index=True)

In [17]:
#add currency column
combined_cb_btc_data['currency'] = 'btcusdt'

In [18]:
combined_cb_btc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1687 entries, 0 to 1686
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   time      1687 non-null   datetime64[ns]
 1   low       1687 non-null   float64
 2   high      1687 non-null   float64
 3   open      1687 non-null   float64
 4   close     1687 non-null   float64
 5   volume    1687 non-null   float64
 6   currency  1687 non-null   object
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 92.4+ KB

In [19]:
combined_cb_btc_data.head()

,time,low,high,open,close,volume,currency
0,2023-03-02 00:00:00,23417.66,23798.62,23632.12,23448.24,1605.718798,btcusdt
1,2023-03-01 18:00:00,23305.30,23729.63,23708.50,23631.52,2921.096619,btcusdt
2,2023-03-01 12:00:00,23558.88,23886.33,23739.60,23708.02,4492.437214,btcusdt
3,2023-03-01 06:00:00,23669.71,23999.99,23692.86,23739.60,2093.293852,btcusdt
4,2023-03-01 00:00:00,23025.17,23850.00,23144.37,23692.86,2645.017713,btcusdt

### ETH-USD

In [87]:
#define product ID
product_id = 'ETH-USD'

In [88]:
#define start and end times
start_time = datetime(2023, 1, 1)
end_time = start_time + timedelta(days=60)

In [89]:
#initiate list to store bimonthly dataframes
cb_eth_dataframes = []

In [90]:
#loop every 60 days
while end_time <= datetime(2024, 2, 28):  
    #request data for time period
    historical_data = get_historical_data(product_id, granularity, start_time, end_time)
    #append dataframe
    cb_eth_dataframes.append(historical_data)
    #update start_time and end_time for the next period
    start_time = end_time
    #move end_time 60 days ahead
    end_time += timedelta(days=60)

In [91]:
len(cb_eth_dataframes)

7

In [92]:
#combine all dataframes into one
combined_cb_eth_data = pd.concat(cb_eth_dataframes, ignore_index=True)

In [93]:
#add currency column
combined_cb_eth_data['currency'] = 'ethusdt'

In [94]:
combined_cb_eth_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1687 entries, 0 to 1686
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   time      1687 non-null   datetime64[ns]
 1   low       1687 non-null   float64
 2   high      1687 non-null   float64
 3   open      1687 non-null   float64
 4   close     1687 non-null   float64
 5   volume    1687 non-null   float64
 6   currency  1687 non-null   object
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 92.4+ KB

### DOGE-USD

In [79]:
#define product ID
product_id = 'DOGE-USD'

In [80]:
#define start and end times
start_time = datetime(2023, 1, 1)
end_time = start_time + timedelta(days=60)

In [81]:
#initiate list to store bimonthly dataframes
cb_doge_dataframes = []

In [82]:
#loop every 60 days
while end_time <= datetime(2024, 2, 28): 
    #request data for time period
    historical_data = get_historical_data(product_id, granularity, start_time, end_time)
    #append dataframe
    cb_doge_dataframes.append(historical_data)
    #update start_time and end_time for the next period
    start_time = end_time
    #move end_time 60 days ahead
    end_time += timedelta(days=60)

In [83]:
len(cb_doge_dataframes)

7

In [84]:
#combine all dataframes into one
combined_cb_doge_data = pd.concat(cb_doge_dataframes, ignore_index=True)

In [85]:
#add currency column
combined_cb_doge_data['currency'] = 'dogeusdt'

In [86]:
combined_cb_doge_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1687 entries, 0 to 1686
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   time      1687 non-null   datetime64[ns]
 1   low       1687 non-null   float64
 2   high      1687 non-null   float64
 3   open      1687 non-null   float64
 4   close     1687 non-null   float64
 5   volume    1687 non-null   float64
 6   currency  1687 non-null   object
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 92.4+ KB

### SHIB-USD

In [71]:
#define product ID
product_id = 'SHIB-USD'

In [72]:
#define start and end times
start_time = datetime(2023, 1, 1)
end_time = start_time + timedelta(days=60)

In [73]:
#initiate list to store bimonthly dataframes
cb_shib_dataframes = []

In [74]:
#loop every 60 days
while end_time <= datetime(2024, 2, 28):  
    #request data for time period
    historical_data = get_historical_data(product_id, granularity, start_time, end_time)
    #append dataframe
    cb_shib_dataframes.append(historical_data)
    #update start_time and end_time for the next period
    start_time = end_time
    #move end_time 60 days ahead
    end_time += timedelta(days=60)

In [75]:
len(cb_shib_dataframes)

7

In [76]:
#combine all dataframes into one
combined_cb_shib_data = pd.concat(cb_shib_dataframes, ignore_index=True)

In [77]:
#add currency column
combined_cb_shib_data['currency'] = 'shibusdt'

In [78]:
combined_cb_shib_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1687 entries, 0 to 1686
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   time      1687 non-null   datetime64[ns]
 1   low       1687 non-null   float64
 2   high      1687 non-null   float64
 3   open      1687 non-null   float64
 4   close     1687 non-null   float64
 5   volume    1687 non-null   int64
 6   currency  1687 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 92.4+ KB

### ADA-USD

In [44]:
#define product ID
product_id = 'ADA-USD'

In [45]:
#define start and end times
start_time = datetime(2023, 1, 1)
end_time = start_time + timedelta(days=60)

In [46]:
#initiate list to store bimonthly dataframes
cb_ada_dataframes = []

In [47]:
#loop every 60 days
while end_time <= datetime(2024, 2, 28):  
    #request data for time period
    historical_data = get_historical_data(product_id, granularity, start_time, end_time)
    #append dataframe
    cb_ada_dataframes.append(historical_data)
    #update start_time and end_time for the next period
    start_time = end_time
    #move end_time 60 days ahead
    end_time += timedelta(days=60)

In [48]:
len(cb_ada_dataframes)

7

In [49]:
#combine all dataframes into one
combined_cb_ada_data = pd.concat(cb_ada_dataframes, ignore_index=True)

In [50]:
#add currency column
combined_cb_ada_data['currency'] = 'adausdt'

In [51]:
combined_cb_ada_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1687 entries, 0 to 1686
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   time      1687 non-null   datetime64[ns]
 1   low       1687 non-null   float64
 2   high      1687 non-null   float64
 3   open      1687 non-null   float64
 4   close     1687 non-null   float64
 5   volume    1687 non-null   float64
 6   currency  1687 non-null   object
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 92.4+ KB

### SOL-USD

In [52]:
#define product ID
product_id = 'SOL-USD'

In [53]:
#define start and end times
start_time = datetime(2023, 1, 1)
end_time = start_time + timedelta(days=60)

In [54]:
#initiate list to store bimonthly dataframes
cb_sol_dataframes = []

In [55]:
#loop every 60 days
while end_time <= datetime(2024, 2, 28):  
    #request data for time period
    historical_data = get_historical_data(product_id, granularity, start_time, end_time)
    #append dataframe
    cb_sol_dataframes.append(historical_data)
    #update start_time and end_time for the next period
    start_time = end_time
    #move end_time 60 days ahead
    end_time += timedelta(days=60)

In [56]:
len(cb_sol_dataframes)

7

In [60]:
#combine all dataframes into one
combined_cb_sol_data = pd.concat(cb_sol_dataframes, ignore_index=True)

In [61]:
#add currency column
combined_cb_sol_data['currency'] = 'solusdt'

In [62]:
combined_cb_sol_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1687 entries, 0 to 1686
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   time      1687 non-null   datetime64[ns]
 1   low       1687 non-null   float64
 2   high      1687 non-null   float64
 3   open      1687 non-null   float64
 4   close     1687 non-null   float64
 5   volume    1687 non-null   float64
 6   currency  1687 non-null   object
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 92.4+ KB

### XRP-USD

In [63]:
#define product ID
product_id = 'XRP-USD'

In [64]:
#define start and end times
start_time = datetime(2023, 1, 1)
end_time = start_time + timedelta(days=60)

In [65]:
#initiate list to store bimonthly dataframes
cb_xrp_dataframes = []

In [66]:
#loop every 60 days
while end_time <= datetime(2024, 2, 28):  
    #request data for time period
    historical_data = get_historical_data(product_id, granularity, start_time, end_time)
    #append dataframe
    cb_xrp_dataframes.append(historical_data)
    #update start_time and end_time for next period
    start_time = end_time
    #move end_time 60 days ahead
    end_time += timedelta(days=60)

In [67]:
len(cb_xrp_dataframes)

7

In [68]:
#combine all dataframes into one
combined_cb_xrp_data = pd.concat(cb_xrp_dataframes, ignore_index=True)

In [69]:
#add currency column
combined_cb_xrp_data['currency'] = 'xrpusdt'

In [70]:
combined_cb_xrp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 909 entries, 0 to 908
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   time      909 non-null    datetime64[ns]
 1   low       909 non-null    float64
 2   high      909 non-null    float64
 3   open      909 non-null    float64
 4   close     909 non-null    float64
 5   volume    909 non-null    float64
 6   currency  909 non-null    object
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 49.8+ KB

### Combine all Coinbase Data

In [95]:
#concatenate all dfs
combined_coinbase_data = pd.concat([combined_cb_btc_data, combined_cb_eth_data, combined_cb_doge_data, combined_cb_shib_data, combined_cb_ada_data, combined_cb_sol_data, combined_cb_xrp_data], ignore_index=True)

In [96]:
#review coinbase column names
combined_coinbase_data.columns

Index(['time', 'low', 'high', 'open', 'close', 'volume', 'currency'], dtype='object')

In [98]:
#rename coinbase columns to match binance columns
combined_coinbase_data.rename(columns={'time': 'open_time'}, inplace=True)
combined_coinbase_data.rename(columns={'open': 'open_price'}, inplace=True)
combined_coinbase_data.rename(columns={'close': 'close_price'}, inplace=True)
combined_coinbase_data.rename(columns={'high': 'high_price'}, inplace=True)
combined_coinbase_data.rename(columns={'low': 'low_price'}, inplace=True)

In [99]:
#add close_time column to match binance data
combined_coinbase_data['close_time'] = combined_coinbase_data['open_time'] + pd.Timedelta(hours=5, minutes=59, seconds=59, milliseconds=999)

In [100]:
combined_coinbase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11031 entries, 0 to 11030
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   open_time    11031 non-null  datetime64[ns]
 1   low_price    11031 non-null  float64
 2   high_price   11031 non-null  float64
 3   open_price   11031 non-null  float64
 4   close_price  11031 non-null  float64
 5   volume       11031 non-null  float64
 6   currency     11031 non-null  object
 7   close_time   11031 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(5), object(1)
memory usage: 689.6+ KB

### Load into MySQL

In [101]:
#define connection string
connection_string = 'mysql://root:root0987!?@localhost:3306/crypto_pricing'

In [102]:
#create SQLAlchemy engine
engine = create_engine(connection_string)

In [103]:
#name table
table_name = 'coinbase_pricing'

In [104]:
#insert data into mysql
combined_coinbase_data.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

11031

## Section 3: S&P 500

In [264]:
#!pip install yfinance

Requirement already satisfied: yfinance in c:\users\kgall\anaconda3\lib\site-packages (0.2.18)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\kgall\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: html5lib>=1.1 in c:\users\kgall\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\kgall\anaconda3\lib\site-packages (from yfinance) (37.0.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\kgall\anaconda3\lib\site-packages (from yfinance) (2.3.8)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\kgall\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\kgall\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: requests>=2.26 in c:\users\kgall\anaconda3\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: lxml>=4.9.1 in c:\users\kgall\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\kgall\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: pytz>=2022.5 in c:\users\kgall\anaconda3\lib\site-packages (from yfinance) (2023.3)
Requirement already satisfied: pandas>=1.3.0 in c:\users\kgall\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\kgall\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: cffi>=1.12 in c:\users\kgall\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in c:\users\kgall\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\kgall\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\kgall\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kgall\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kgall\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kgall\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\kgall\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: pycparser in c:\users\kgall\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [59]:
#import additional packages
import yfinance as yf

In [60]:
#define start and end dates
start_date = '2023-01-01'
end_date = '2024-02-28'

In [61]:
#define ticker
ticker_symbol = '^GSPC'

In [62]:
#fetch data
sp500_data = yf.download(ticker_symbol, start=start_date, end=end_date, interval='1d')

[*********************100%***********************]  1 of 1 completed

In [63]:
sp500_data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,3853.290039,3878.459961,3794.330078,3824.139893,3824.139893,3959140000
2023-01-04,3840.360107,3873.159912,3815.770020,3852.969971,3852.969971,4414080000
2023-01-05,3839.739990,3839.739990,3802.419922,3808.100098,3808.100098,3893450000
2023-01-06,3823.370117,3906.189941,3809.560059,3895.080078,3895.080078,3923560000
2023-01-09,3910.820068,3950.570068,3890.419922,3892.090088,3892.090088,4311770000

In [64]:
#rename sp500 columns to match binance and coinbase columns
sp500_data.rename(columns={'Open': 'open_price'}, inplace=True)
sp500_data.rename(columns={'Close': 'close_price'}, inplace=True)
sp500_data.rename(columns={'High': 'high_price'}, inplace=True)
sp500_data.rename(columns={'Low': 'low_price'}, inplace=True)
sp500_data.rename(columns={'Volume': 'volume'}, inplace=True)

In [65]:
#flatten index
sp500_data = sp500_data.reset_index()

In [66]:
#rename sp500 columns to match binance and coinbase columns
sp500_data.rename(columns={'Date': 'open_time'}, inplace=True)

In [67]:
#add close_time column to match binance and coinbase data
sp500_data['close_time'] = sp500_data['open_time'] + pd.Timedelta(hours=23, minutes=59, seconds=59, milliseconds=999)

In [69]:
#drop adjusted close column
sp500_data.drop(columns='Adj Close', inplace=True)

### Load into MySQL

In [71]:
#define connection string
connection_string = 'mysql://root:root0987!?@localhost:3306/crypto_pricing'

In [72]:
#create SQLAlchemy engine
engine = create_engine(connection_string)

In [73]:
#name table
table_name = 'sp500_pricing'

In [74]:
#insert data into mysql
sp500_data.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

289